/ views/partner/backlinks/_index-table-tr.html.haml

%tr

  %th.text-nowrap.text-xs-center{scope: "row"}
    = link_to  backlink.id, partner_backlink_path(backlink)
    
  - if @business.nil?
    %td.text-nowrap= link_to backlink.business_name, business_path(backlink.business)
    
  %td.text-nowrap= link_to backlink.partner_title, partner_path(backlink.partner)
    
  %td.text-nowrap.text-xs-center.text-sm-left
    - unless backlink.partner_request_id.nil?
      = link_to partner_request_path(backlink.partner_request_id) do
        %span.hidden-xs-down= tm 'partner/request'
        ="##{backlink.partner_request_id}"
  
  %td
    - unless backlink.referrer.blank?
      = backlink.decorate.referrer
      = link_to backlink.referrer do 
        = i 'external-link'
  
  %td.text-nowrap= backlink.anchor
  
  %td
    - unless backlink.link.blank?
      = backlink.decorate.link
      %span.hidden-xs-down
        = link_to backlink.link do 
          = i 'external-link'
  
  - if params[:owner].blank?
    %td.text-nowrap= backlink.owner_username
  
  %td
    %span{class: "text-#{backlink.decorate.status_color}"}
      = i backlink.decorate.status_icon
      %span.hidden-xs-down= backlink.decorate.status          
  %td
    = render partial: 'shared/form_actions', locals: {object: backlink}