/ views/businesses/_form.html.haml

= bootstrap_form_for(@business) do |f|

  = f.text_field :name
  
  = f.select :business_product_id, Business::Product.all.map{ |_| [_.name.humanize, _.id]},
    :prompt => "#{t('forms.select')} #{han(:business, :business_product_id).downcase}..."
    
  = f.select :business_language_id, Business::Language.all.map{|_| [_.name.humanize, _.id]},
    :prompt => "#{t('forms.select')} #{han(:business, :business_language_id).downcase}..."
  
  = f.primary