/ views/businesses/index.html.haml

  
- content_for :page_title do
  = i Business.decorator_class.icon
  = tmp :business
  
%p= t 'descriptions.businesses'

.table-responsive
  %table.table.table-sm.table-hover
    %thead.thead-default
      %tr
        %th.text-nowrap.text-xs-center #
        %th= han :business, :name
        %th= han :business, :product
        %th.text-nowrap.text-xs-center.text-lg-left
          = i Business::Website.decorator_class.icon
          %span.hidden-md-down= tmp 'business/website'
        %th.text-nowrap.text-xs-center.text-lg-left
          = i Partner::Request.decorator_class.icon
          %span.hidden-md-down= tmp 'partner/request'
        %th.text-nowrap.text-xs-center.text-lg-left
          = i Partner::Backlink.decorator_class.icon
          %span.hidden-md-down= tmp 'partner/backlink'
        %th.text-nowrap 
    %tbody
      - @businesses.each do |business|
        %tr
          %th.text-nowrap.text-xs-center{scope: "row"}= business.id
          %td
            = business.decorate.flag
            = link_to business.name, business
          %td.text-nowrap= business.product_name.humanize
          %td.text-nowrap.text-xs-center.text-lg-left
            %span.tag.tag-default= link_to business.websites.count, business_websites_path(business_id: business)
            = link_to new_business_website_path(business_id: business), class: 'tag tag-primary', role: 'button', title: th('activerecord.actions.new') do
              = i 'plus'
              %span.hidden-md-down= t 'activerecord.actions.new'
          %td.text-nowrap.text-xs-center.text-lg-left
            %span.tag.tag-default= link_to business.requests.count, partner_requests_path(business_id: business)
            = link_to new_partner_request_path(business_id: business), class: 'tag tag-primary', role: 'button', title: th('activerecord.actions.new') do
              = i 'plus'
              %span.hidden-md-down= t 'activerecord.actions.new'
          %td.text-nowrap.text-xs-center.text-lg-left
            %span.tag.tag-default= link_to business.backlinks.count, partner_backlinks_path(business_id: business)
            = link_to new_partner_backlink_path(business_id: business), class: 'tag tag-primary', role: 'button', title: th('activerecord.actions.new') do
              = i 'plus'
              %span.hidden-md-down= t 'activerecord.actions.new'
          %td
            = render partial: 'shared/form_actions', locals: {object: business}
        