= link_to edit_business_path(@business), 
  class: 'btn btn-primary pull-right', 
  role: 'button', 
  title: th('activerecord.actions.edit') do
  = i 'pencil'
  = t 'activerecord.actions.edit'

%h1
  = @business.name
%p
  = @business.product_name.humanize
  = @business.flag
  
%h2
  = i 'bar-chart'
  = 'Statistiques'
    
%h2
  = i Business::Website.decorator_class.icon
  = "Websites"
  
%h2
  = i Partner::Request.decorator_class.icon
  = "Requests" 
  = @business.requests.count

.table-responsive
  %table.table.table-sm.table-hover
    %thead.thead-default
      %tr
        %th Categorie
        - Partner::Request.states.keys.each do |state|
          %th= state.humanize
        %th Total
    %tbody
      - Partner.categories.keys.each do |category|
        %tr
          %th{scope: "row"}= category.humanize
          - total = 0
          - Partner::Request.states.each do |state, state_id|
            - nb = Partner.joins(:requests).where('partner_requests.state = ?', state_id).where(category: category).where('partner_requests.business_id = ?', @business.id).count
            - total += nb
            %td= nb
          %td
            = total
      
      %tr
        %td Total
        - Partner::Request.states.each do |state, state_id|
          %td= Partner::Request.where(state: state).where(business: @business).count
        %td 
  
%h2
  = i Partner::Backlink.decorator_class.icon
  = "Backlink" 
    