- content_for :page_title do
  = @business.name

= @business.product_name.humanize
= @business.flag
  
  
- if @business.hosts.size > 0

  - top = 10
  .card
    .card-header
      = i Seo::HostDecorator.icon
      = top
      Most frequent hosts
    .card-block
      .row
        .col-xs-12.col-sm-8
          = pie_chart charts_business_most_frequent_hosts_path(id: @business.id, top: top), height: "431px", library: {title: 'mytite'}
        .col-xs-12.col-sm-4
          %ul.list-group.list-group-flush
            - top_hosts = @business.top_hosts(top)
            - top_hosts.datas.each do |host, frequency|
              %li.list-group-item 
                = host.url
                .pull-right
                  = frequency


  
  .card
    .card-header
      = i Seo::HostDecorator.icon
      10 last hosts created
    .card-block
      %ul.list-group.list-group-flush
        - @business.host_categorizations.order(created_at: :desc).limit(10).each do |c|
          %li.list-group-item
            = i c.decorate.category_icon
            = c.host.decorate.name
            .pull-right
              = c.decorate.updated_at
          

  
  
    