.widget
  %h4.widget__title Categories
  .widget__content
    %ul.list
      %li= link_to "Improving Life (4)", "#", { :class => "a" }
      %li= link_to " Nature (2)", "#", { :class => "a" }
      %li= link_to " Photos (2)", "#", { :class => "a" }
      %li= link_to " Self Development (2)", "#", { :class => "a" }
      %li= link_to " Technology (2)", "#", { :class => "a" }
