.sidebar
  .site-title
    %h2.title= yield(:heading).blank? ? @website.decorate.title : yield(:heading)
    .subheading= @website.decorate.baseline
  .widgets
    = render 'widgets/search'
    = render 'widgets/filter'
    = render 'widgets/archives'
    = render 'widgets/categories'
