%tr
  %th.text-nowrap.text-xs-center{scope: "row"}= category.id
  - if @website.nil?
    %td.text-nowrap= link_to category.website.host, filtered_entries_path(business_website_id: category.website.id)
  %td
    = link_to category.name, edit_blog_taxonomies_category_path(category, hide_website_col: @website.nil? ? nil : true), remote: true
    = link_to category.decorate.public_url do
      = i 'external-link'
  %td
    = link_to category.posts.size, blog_contents_posts_path(category_id: category.id)
    
  %td
    - if category.posts.size.eql?(0)
      = link_to blog_taxonomies_category_path(category, hide_website_col: @website.nil? ? nil : true), method: :delete, data: { confirm: 'Are you sure?' }, remote: true do
        = i 'trash-o'