
- if params.slice(*PartnersController.filtering_params).blank?
  = link_to partners_path do
    All
    %span.label.label-default= Partner.count
- else
  All
|
- if params[:owner] && params[:owner].to_i.eql?(current_user.id)
  Mine
  = link_to filtered_entries_path(owner: nil) do
    = i 'times-circle-o'
- else
  = link_to filtered_entries_path(owner: current_user.id) do
    Mine
    %span.label.label-default= @partners.owner(current_user.id).count
|
- unless params[:recent].blank?
  Recent
  = link_to filtered_entries_path(recent: nil) do
    = i 'times-circle-o'
- else
  = link_to filtered_entries_path(recent: 10) do
    Recent
    %span.label.label-default= @partners.recent(10).count
|
- unless params[:inactive].blank?
  New
  = link_to filtered_entries_path(inactive: nil) do
    = i 'times-circle-o'
- else
  = link_to filtered_entries_path(inactive: 30)  do
    New
    %span.label.label-default= @partners.inactive(30).count

= bootstrap_form_tag url: partners_path, method: :get, layout: :inline do |f|
  = f.hidden_field :recent, value: params[:value]       unless params[:recent].blank?
  = f.hidden_field :inactive, value: params[:inactive]  unless params[:inactive].blank?
  = f.hidden_field :owner, value: params[:owner]        unless params[:owner].blank?
  = f.text_field :starts_with, value: params[:starts_with], hide_label: true, class: 'form-control-sm', placeholder: 'Title'
  = f.text_field :contact,     value: params[:contact],     hide_label: true, class: 'form-control-sm', placeholder: 'contact'
  = f.select :category, Partner.categories.keys.map{|l| [l.humanize, l]}, 
    selected: params[:category], 
    include_blank: 'All categories',
    hide_label: true
  = f.submit 'Filter'