/ views/partners/_overview-card.html.haml

.card.card-block
  %h4.card-title= t :overview
  %ul.list-group.list-group-flush
    %li.list-group-item= partner.i_category
    %li.list-group-item
      = i Partner.decorator_class.attribute_icon(:contact)
      = partner.contact_name
      - if partner.contact_email.present?
        = mail_to partner.contact_email do
          = i 'envelope'
      - if partner.webform_url.present?
        = link_to partner.webform_url do
          = i 'wpforms'
    %li.list-group-item
      Created : 
      = partner.created_at
    %li.list-group-item
      Owner :
      = partner.owner
    %li.list-group-item
      Requests :
      = partner.requests.size
      %span.pull-right
        = link_to new_partner_request_path(partner_id: partner.id), class: 'tag tag-primary', role: 'button', title: th('activerecord.actions.new') do
          = i 'plus'
          %span.hidden-md-down= t 'activerecord.actions.new'
    %li.list-group-item
      Backlink :
      = partner.backlinks.size
      %span.pull-right
        = link_to new_partner_backlink_path(partner_id: partner.id), class: 'tag tag-primary', role: 'button', title: th('activerecord.actions.new') do
          = i 'plus'
          %span.hidden-md-down= t 'activerecord.actions.new'