/ views/partners/index.html.haml

= link_to new_partner_path, 
  class: 'btn btn-primary pull-right', 
  role: 'button', 
  title: th('activerecord.actions.new') do
  = i 'plus'
  = t 'activerecord.actions.new'
          
%h1
  = i Partner.decorator_class.icon
  = tmp :partner
  
%p= t 'descriptions.partners'

 
= render 'filters'

.table-responsive
  %table.table.table-sm.table-hover
    %thead.thead-default
      %tr
        %th.text-xs-center #
        %th
          = link_to sorted_entries_path(title: asc?(:title) ? :desc : :asc) do
            = han :partner, :title
          - unless params[:sort_by_title].blank?
            = i 'sort-alpha-asc' if asc? :title
            = i 'sort-alpha-desc' if desc? :title
          - unless params[:starts_with].blank?
            = link_to filtered_entries_path(starts_with: nil) do
              %span.fa-stack
                %i.fa.fa-filter.fa-stack-1x.text-primary
                %i.fa.fa-ban.fa-stack-1x.text-danger
        %th= han :partner, :category
        %th= han :partner, :contact
        %th.text-xs-center.text-lg-left
          = i Partner::Request.decorator_class.icon
          %span.hidden-md-down= tmp 'partner/request'
        %th.text-xs-center.text-lg-left
          = i Partner::Backlink.decorator_class.icon
          %span.hidden-md-down= tmp 'partner/backlink'
        %th= han :partner, :created_at
        %th 
    %tbody
      - @partners.each do |partner|
        %tr
          %th.text-xs-center{scope: "row"}= partner.id
          %td
            = link_to partner_path(partner) do
              = partner.title
            = link_to partner.url do 
              = i 'external-link'
          %td= partner.category.humanize
          %td
            = partner.contact_name
            - if partner.contact_email.present?
              = mail_to partner.contact_email do
                = i 'envelope'
            - if partner.webform_url.present?
              = link_to partner.webform_url do
                = i 'wpforms'
          
          %td.text-xs-center.text-lg-left
            %span.label.label-default= link_to partner.requests.count, partner_requests_path(partner_id: partner)
            = link_to new_partner_request_path(partner_id: partner), class: 'label label-primary', role: 'button', title: th('activerecord.actions.new') do
              = i 'plus'
              %span.hidden-md-down= t 'activerecord.actions.new'
          
          %td.text-xs-center.text-lg-left
            %span.label.label-default= link_to partner.backlinks.count, partner_backlinks_path(partner_id: partner)
            = link_to new_partner_backlink_path(partner_id: partner), class: 'label label-primary', role: 'button', title: th('activerecord.actions.new') do
              = i 'plus'
              %span.hidden-md-down= t 'activerecord.actions.new'
          %td
            = partner.decorate.created_at 
          %td
            = link_to partner_path(partner) do
              = i 'eye'
            = link_to edit_partner_path(partner) do
              = i 'pencil'
            = link_to partner_path(partner), method: :delete, data: { confirm: 'Are you sure?' } do
              = i 'trash-o'
        