//
// Post on homepage
//
// Instance objects : @website
// Partial Object : post
//    `Post` Attributes : published_at, updated_at
//

- colors = %w(primary success info warning danger)
- width = 600
- height = 1000

- post_link = post_path(slug: post.slug, year: post.year, month: post.month)
- image_src = post.featured_image_id? ? attachment_url(post, :featured_image, :limit, width, height) : asset_path('featured_image.png')
- color     = colors.sample

- categories = []
- post.categories.each do |c|
  - categories << link_to(c.name, category_path(slug: c.slug))

%article.infinite-scrolling{itemprop: 'blogPosts', itemscope: true, itemtype: 'https://schema.org/BlogPosting'}

  %meta{itemprop: 'mainEntityOfPage', itemscope: true, itemtype: 'https://schema.org/WebPage', itemid: post_link}
  %meta{itemprop: 'datePublished', content: post.published_at}
  %meta{itemprop: 'dateModified', content: post.updated_at}

  %div{itemprop: 'publisher', itemscope: true, itemtype: 'https://schema.org/Organization'}
    %div{itemprop: 'logo', itemscope: true, itemtype: 'https://schema.org/ImageObject'}
      %meta{itemprop: 'url', content: image_url("logo.png")}
      %meta{itemprop: 'width', content: 100}
      %meta{itemprop: 'height', content: 100}
    %meta{itemprop: 'name', content: @website.business.name}

  .card.card--post

    .card-img-top.card--post__img.text-xs-center{itemprop: 'image', itemscope: true, itemtype:'https://schema.org/ImageObject'}
      = image_tag image_src, class: 'img-fluid m-x-auto d-block' unless image_src.blank?
      %meta{itemprop: 'url', content: asset_url(image_src)}
      %meta{itemprop: 'width', content: width}
      %meta{itemprop: 'height', content: height}

    .card-block.card--post__block
      %p.post-category.card--post__category= categories.join(', ').html_safe unless categories.blank?
      %h3.card-title.card--post__title{itemprop: 'headline'}= link_to post.title, post_link
      %p.post-date.card--post__date= l post.published_at.to_date, format: :long
      %p.card-text.card--post__text{itemprop: 'description'}= post.decorate.excerpt(350)
