- categories = []
- @post.categories.each do |c|
  - categories << link_to(c.name, category_path(slug: c.slug))

- tags = []
- @post.tags.each do |t|
  - tags << link_to(t.name, tag_path(slug: t.slug))

.post-page
  .post-page-image
    = image_tag attachment_url(@post, :featured_image) unless attachment_url(@post, :featured_image).blank?
  .post-page-content
    .post-page-categories
      = categories.join(', ').html_safe unless categories.blank?
    %h1.post-page-title= @post.title
    .post-page-meta
      %span.post-page-author{itemprop: 'author', itemscope: true, itemtype: "https://schema.org/Person"}
        = t(:by)
        %span{itemprop: 'name'}= link_to @post.author.decorate.name, author_path(@post.author)
      %span.post-page-date= I18n.l @post.published_at.to_date, format: :long
    .post-page-body= @post.body.html_safe
    .post-page-appendix
      %h3 Tags
      .post-page-tags= tags.join(' ').html_safe unless tags.blank?
    .post-page-appendix
      %h3 Share
      %ul.post-page-share.list-inline
        %li.list-inline-item
          %a{:href => "#"}
            %span.fa-stack.fa-lg
              %i.fa.fa-circle.fa-stack-2x
              %i.fa.fa-twitter.fa-stack-1x.fa-inverse
        %li.list-inline-item
          %a{:href => "#"}
            %span.fa-stack.fa-lg
              %i.fa.fa-circle.fa-stack-2x
              %i.fa.fa-facebook.fa-stack-1x.fa-inverse
        %li.list-inline-item
          %a{:href => "#"}
            %span.fa-stack.fa-lg
              %i.fa.fa-circle.fa-stack-2x
              %i.fa.fa-github.fa-stack-1x.fa-inverse
