.container
  .row
    .col-lg-8.offset-lg-2.col-md-10.offset-md-1
      - @posts.each do |post|
        .post-preview
          = link_to post_path(slug: post.slug, year: post.year, month: post.month) do
            %h2= post.title
            %h3= post.decorate.excerpt
          %p.post-meta
            Posted by
            = link_to post.owner.username
            = post.published_at
  .row
    .col-lg-8.offset-lg-2.col-md-10.offset-md-1
      = paginate @posts