= link_to  "EDIT", edit_blog_page_path(@page)

%h2= @page.title

%ul.nav.nav-tabs{role: "tablist"}
  %li.nav-item
    = link_to "body", "#body-html", data: {toggle: "tab"}, role: "tab", class:"nav-link active"
  %li.nav-item
    = link_to "Source", "#body-text", data: {toggle: "tab"}, role: "tab", class:"nav-link"
    
.tab-content{style: "height:300px; overflow-y: scroll; padding: 10px"}
  #body-html.tab-pane.fade.in.active{role: "tabpanel"}
    = @page.body.html_safe
  #body-text.tab-pane.fade{role: "tabpanel"}
    = @page.body

= image_tag attachment_url(@page, :featured_image, :fill, 200, 200) if @page.featured_image_id?
