/ views/partner/requests/_breadcrumbs.html.haml

%ol.breadcrumb
  %li
    - if @business.nil?
      = link_to tmp(:business), businesses_path
    - else
      = link_to @business.decorate.name, business_path(@business)
  
  %li
    - if @partner.nil?
      = link_to tmp(:partner), partners_path
    - else
      = link_to @partner.decorate.name, partner_path(@partner)
  
  %li.active
    - if @request.nil? || @request.id.blank?
      = t 'activerecord.actions.new'
      = tm 'partner/request'
    - else
      = @request.decorate.name 