/ views/partner/requests/_form.html.haml

= bootstrap_form_for(@request) do |f|

  - if @business
    = f.hidden_field :business_id, value: @business.id
  - else 
    = f.select :business_id, Business.all.map{|_| [_.name, _.id]}, 
    prompt: "#{t('forms.select')} #{tm(:business)}..."
    
  - if @partner
    = f.hidden_field :partner_id, value: @partner.id
  - else 
    = f.select :partner_id, Partner.all.map{|_| [_.title, _.id]}, 
    prompt: "#{t('forms.select')} #{tm(:partner)}..."
  
  .row
  
    .col-md-6
  
      = f.text_field :subject, placeholder: "Subject"
    
    .col-md-6
  
      = f.form_group :channel, label: { text: "Channel" } do
        .clearfix
        - Partner::Request.channels.keys.each do |channel|
          = f.radio_button :channel, channel, label: Partner::Request.decorator_class.human_enum_name(:channel, channel), inline: true
        
      -# = f.select :channel, Partner::Request.channels.keys.map{|_| [_.humanize, _]},:prompt => "#{t('forms.select')} #{han('partner/request', :channel)}..."
  
  = f.hidden_field :body_xs_was, value: @request.body_xs
  
  = f.hidden_field :body_was, value: @request.body
  
  .hidden-sm-up= f.text_area :body_xs, placeholder: "Body"
  
  %fieldset.form-group.bootsy.hidden-xs-down
    %label{for: :partner_request_body}= han('partner/request', :body)
    = f.bootsy_area :body, class: 'form-control', placeholder: "Body"
  
  
  
  = f.hidden_field :state_updated_by, value: current_user.id
  
  = f.primary "Save Draft", name: 'submit'
  
  - if @request.draft?
    = f.submit "Send Request", class: "btn btn-secondary", name: 'send_request'
  
  .clearfix
  
  %hr
  
  =link_to 'Extra Fields', '#', class: 'btn btn-danger hidden-md-down', id: 'show_extra_fields'
  
  #extra_fields
  
    = f.date_field :sent_at
  
    = f.select :state, Partner::Request.states.keys.map{|_| [_.humanize, _]}, prompt: "Select State..."
  
    = f.select :user_id, User.all.map{|_| [_.username, _.id]}, prompt: "Select Owner..."