/ views/partner/requests/_overview-card.html.haml

.card.card-block
  %h4.card-title= t :overview
  %ul.list-group.list-group-flush
    %li.list-group-item
      %span{class: "text-#{request.state_color}"}= request.i_state
      .pull-right
        Last Updated : 
        = request.state_updated_at
    %li.list-group-item
      .request-channel
        = request.i_channel
        sent/posted
        = request.sent_at
      .request-subject
        = request.subject
      .request-body
        = request.body.html_safe