/ views/partner/requests/index.html.haml

= render partial: 'partner/shared/index-header', locals: {relation: 'request'}

#pagination.pull-right.hidden-xs-down
  = paginate @requests, remote: true
  
= render 'filters'

.table-responsive
  %table.table.table-sm.table-hover.loading
    %thead.thead-default
      %tr
        
        %th.text-nowrap.text-xs-center #
        
        - if @business.nil?
          %th.text-nowrap.text-xs-center.text-sm-left
            = i Business.decorator_class.icon
            %span.hidden-xs-down= tm :business
        
        %th.text-nowrap.text-xs-center.text-sm-left
          = i Partner.decorator_class.icon
          %span.hidden-xs-down= tmp :partner
        
        %th.text-nowrap.hidden-xs-down= han 'partner/request', :subject
        
        %th.text-nowrap.hidden-xs-down
          %span.hidden-md-down= han 'partner/request', :channel
          %span.hidden-lg-up= han('partner/request', :channel)[0]
        
        - if params[:owner].blank? 
          %th.text-nowrap.text-xs-center.text-sm-left
            = i User.decorator_class.icon
            %span.hidden-xs-down
              = han 'partner/request', :owner
        
        %th.text-nowrap.text-xs-center.text-sm-left{colspan:2}= han 'partner/request', :state
        
        %th.text-nowrap 
    %tbody
      = render partial: 'index-table-tr', collection: @requests, as: :request

#pagination-bottom.text-xs-center       
  = paginate @requests, remote: true