/ views/partner/requests/new.html.haml

= render "breadcrumbs"

%h1
  = t 'activerecord.actions.new'
  = tm 'partner/request'

.row
  .col-md-12.col-lg-9
    = render 'form'
  .hidden-md-down.col-lg-3
    = render 'form-aside'