/ views/welcome/index.html.haml

- content_for :page_title do
  🚀 Dashboard

%p.lead.bg-info.p-a-1= t period_of_day, scope: :greetings, user: current_user.decorate.name

.row

  .col-xs-12.col-sm-6.col-md-4.col-xl-3
    .card
      .card-header
        = i 'tasks'
        Tasks
      .card-block
        %ul.list-group.list-group-flush
          %li.list-group-item
            = link_to blog_contents_posts_path(status: :draft, writer: current_user.id, sort_by_status_date: :desc) do
              = i Blog::Contents::PostDecorator.status_icon(:draft)
              Draft Posts
              .pull-right
                = Blog::Contents::Post.draft.writer(current_user.id).count
          %li.list-group-item
            = link_to blog_contents_posts_path(status: :submitted, editor: current_user.id, sort_by_status_date: :desc) do
              = i Blog::Contents::PostDecorator.status_icon(:submitted)
              Post to review
              .pull-right
                = Blog::Contents::Post.submitted.editor(current_user.id).count

  .col-xs-12.col-sm-6.col-md-4.col-xl-3
    .card
      .card-header
        = i Business::Website.decorator_class.icon
        = tmp 'business/website'
      .card-block
        %ul.list-group.list-group-flush
          - Business::Website.nanoob.each do |w|
            = link_to business_website_path(w) do
              %li.list-group-item
                = i 'line-chart'
                = w.decorate.name
                .pull-right
                  = i 'arrow-circle-right'
          %li.list-group-item
            Visits yesterday
            .pull-right
              = Visit.yesterday.count
          %li.list-group-item
            Visits page today
            .pull-right
              = Visit.today.count
          
          %li.list-group-item
            Viewed page yesterday
            .pull-right
              = Ahoy::Event.views.yesterday.count
          %li.list-group-item
            Viewed page today
            .pull-right
              = Ahoy::Event.views.today.count


  .col-xs-12.col-sm-6.col-md-4.col-xl-3
    .card
      .card-header
        = i Blog::Contents::Post.decorator_class.icon
        = tmp 'blog/contents/post'
      .card-block
        %ul.list-group.list-group-flush
          %li.list-group-item
            = link_to blog_contents_posts_path(status: :published, published_before: Time.now, sort_by_status_date: :desc) do 
              = i Blog::Contents::PostDecorator.status_icon(:published)
              Published Posts
              .pull-right
                = Blog::Contents::Post.publicized.count
          %li.list-group-item
            = link_to blog_contents_posts_path(status: :published, published_after: Time.now, sort_by_status_date: :desc) do
              = i Blog::Contents::PostDecorator.status_icon(:scheduled)
              Scheduled
              .pull-right
                = Blog::Contents::Post.scheduled.count
          %li.list-group-item
            = link_to blog_contents_posts_path(status: :draft, sort_by_status_date: :desc) do
              = i Blog::Contents::PostDecorator.status_icon(:draft)
              Draft
              .pull-right
                = Blog::Contents::Post.draft.count