!!!
%html
  %head
    = render 'head'

  %body
    = woopra_events
    .container-fluid
      .row
        .col-md-3
          = render 'sidebar'
        .col-md-9
          = yield
      = render 'footer'
