!!!
%html
  %head
    = render 'head'

  %body
    = woopra_events
    .container-fluid
      .row
        .col-md-5.col-lg-3
          = render 'sidebar'
        .col-md-7.col-lg-9
          = yield
      = render 'footer'
