/ views/partner/shared/_index_header.html.haml

- unless @business.nil?
  %ol.breadcrumb
    %li.active
      = @business.decorate.name

= link_to send("new_partner_#{relation}_path"), 
  class: 'btn btn-primary pull-right', 
  role: 'button', 
  title: th('activerecord.actions.new') do
  = i 'plus'
  = t 'activerecord.actions.new'
  
%h1
  = i "Partner::#{relation.capitalize}".constantize.decorator_class.icon
  = tmp "partner/#{relation}"
  %span.label.label-info
    = instance_variable_get("@#{relation.pluralize}_unsliced").count


%p= t "descriptions.partner/#{relation.pluralize}"