- content_for :title do
  Log In

= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|

  = f.email_field :email

  = f.password_field :password, autocomplete: "off"

  - if devise_mapping.rememberable?

    = f.check_box :remember_me, label: :remember_me
  
  = f.primary "Log In"
  
  %hr

  = render "devise/shared/links"
