%li.breadcrumb-item.active
  - unless options[:with_link]
    - if options[:icon].present?
      = i options[:icon]
    = label.html_safe
  - else
    = link_to path do
      - if options[:icon].present?
        = i options[:icon]
      = label.html_safe