.card
  .card-header
    🏁  Overview
  .card-block
    %ul.list-group.list-group-flush
      %li.list-group-item 
        = i Blog::Contents::Post.decorator_class.icon
        = @post.title
      %li.list-group-item 
        %span{class: "text-#{@post.decorate.status_color}"}
          = i @post.decorate.status_icon
          = @post.decorate.status_with_date
      - %w(owner editor writer optimizer).each do |user_type|
        - unless (user=@post.send(user_type)).blank?
          %li.list-group-item
            = i Blog::Contents::Post.decorator_class.user_icon(user_type.to_sym)
            = han 'blog/contents/post', user_type.to_sym
            \:
            %em
              = user.decorate.name
      %li.list-group-item
        Categories:
        = @post.object.categories.collect{|_| _.name}.join(', ')
      %li.list-group-item
        Tags:
        = @post.object.tags.collect{|_| _.name}.join(', ')