- content_for :page_title do
  = i Blog::Contents::Post.decorator_class.icon
  = fluid_text @post, :show_page_title
  = link_to @post.decorate.public_url do
    = i 'external-link'
    
= render_deck

.row
  .col-xs-12.col-md-7
    = render partial: 'blog/contents/posts/cards/overview'

  .col-xs-12.col-md-5
    = render 'blog/contents/posts/cards/key_metrics'

    .text-xs-center
      - if @post.featured_image_id?
        = image_tag attachment_url(@post, :featured_image, :fill, 1000, 200), class: 'img-thumbnail img-fluid'


- if @post.events.size > 0
  = render 'blog/contents/posts/cards/chart_visits'



#words.card
  .card-header
    = i 'pie-chart'
    10 Most frequent words
  .card-block
    .row
      .col-xs-12.col-sm-8
        = pie_chart charts_post_most_frequent_words_path(id: @post.id, top: 10), height: "431px"
      .col-xs-12.col-sm-4
        %ul.list-group.list-group-flush
          - @post.words.order(frequency: :desc).limit(10).each do |w|
            %li.list-group-item 
              = w.word
              .pull-right
                = w.frequency
                = "(#{(100 * w.frequency / @post.words_count.to_f).round(2)}%)" if @post.words_count > 0
        
#anchors.card
  .card-header
    links
  .card-block
    %ul.list-group.list-group-flush
      - @post.anchors.each do |anchor|
        %li.list-group-item 
          = anchor.url
          .pull-right
            = anchor.text
    
    

      
.card.text-xs-center
  .card-header
    %ul.nav.nav-tabs.card-header-tabs.pull-xs-left{role: "tablist"}
      %li.nav-item
        = link_to "body", "#body-html", data: {toggle: "tab"}, role: "tab", class:"nav-link active"
      %li.nav-item
        = link_to "Source", "#body-text", data: {toggle: "tab"}, role: "tab", class:"nav-link"
    
  .card-block.tab-content.text-xs-left{style: "height:300px; overflow-y: scroll; padding: 10px"}
    #body-html.tab-pane.fade.in.active{role: "tabpanel"}
      = @post.body.try(:html_safe)
    #body-text.tab-pane.fade{role: "tabpanel"}
      = @post.body


