%ul.nav.nav-sidebar
  %li.active
    = link_to root_path do
      Overview
      %span.sr-only (current) 
  %li= link_to 'Reports', root_path
  %li= link_to 'Analytics', root_path
  
%ul.nav.nav-sidebar
  %li= link_to 'Item3', root_path
  %li= link_to 'Item4', root_path
