!!!
%html
  %head
    = render 'head'
  
  %body
    = render 'navbar'
    #wrapper
      
      %section#sidebar{role: :navigation}
        = sidebar_menu
      
      %section#tools
        #toolbar
          .btn-group
            = render_button_support_toggle
        = render_breadcrumbs
        
      
      %section#content
        .container-fluid
          
          = render partial: 'shared/flash'

          .hidden-xs-down
            = render_button_index_addnew
            = render_button_show_edit
            = render_button_edit_cancel

          %h1.page-title= yield :page_title

          = yield
          
      %section#footer
        %section.pagination
          = yield :pagination
          
    = yield :charts_js