!!!
%html
  %head
    = render 'head'
  
  %body
    = render 'navbar'
    #main.container-fluid
      .row.row-offcanvas.row-offcanvas-left
        #sidebar.col-md-3.col-lg-2.sidebar-offcanvas{role: "navigation"}
          = sidebar_menu
        .col-md-9.col-lg-10.main
          %p.hidden-md-up
            %button.btn.btn-primary-outline.btn-sm{type: "button", data: {toggle: "offcanvas"}}
              = i 'chevron-left'
              Menu
          = render partial: 'shared/flash'
          = render_breadcrumbs
          %h1= yield :page_title
          = yield
