/ views/business/websites/_form.html.haml

= bootstrap_form_for(@website) do |f|
  
  - if @business
    = f.hidden_field :business_id, value: @business.id
  - else
    = f.select :business_id, Business.all.map{|b| [b.name, b.id]},
      :prompt => "#{t('forms.select')} #{han('business/website', :business_id).downcase}..."
  
  = f.select :platform, Business::Website.platforms.keys.map{|p| [p.humanize, p]},
    :prompt => "#{t('forms.select')} #{han('business/website', :platform).downcase}..."
  
  = f.url_field :url, placeholder: 'https://'
  
  = f.primary