/ views/business/websites/_form.html.haml

= bootstrap_form_for(@website) do |f|
  
  - if @business
    = f.hidden_field :business_id, value: @business.id
  - else
    = f.select :business_id, Business.all.map{|b| [b.name, b.id]},
      prompt: "#{t('forms.select')} #{han('business/website', :business_id).downcase}..."
  
  = f.select :platform, Business::Website.platforms.keys.map{|p| [p.humanize, p]},
    prompt: "#{t('forms.select')} #{han('business/website', :platform).downcase}..."
  
  = f.url_field :url, placeholder: 'https://'
  
  - if @website.nanoob?
  
    = f.text_field :title
  
    = f.text_field :baseline
  
    = f.select :author_id, People::Author.all.map{|p| [p.username, p.id]}, prompt: "#{t('forms.select')} #{han('business/website', :author).downcase}..."
  
    = f.select :theme, Business::Website::THEMES, prompt: "#{t('forms.select')} #{han('business/website', :theme).downcase}..."
    
    = f.text_field :woopra
    
    = f.text_field :page_title_template, 
    help: t('forms.page_title_template_help', default_tpl: Business::WebsiteDecorator::PAGE_TITLE_TEMPLATE_DEFAULT, options: Business::WebsiteDecorator::PAGE_TITLE_TEMPLATE_OPTIONS.join(', ')).html_safe
  
  - if is_admin?
    = f.select :owner_id, People::User.all.map{|p| [p.username, p.id]}, prompt: "#{t('forms.select')} #{han('business/website', :owner).downcase}..." 
  - else
    = f.hidden_field :owner_id
  
  = f.primary
  
  = f.submit t('forms.cancel'), name: 'cancel', class: "btn btn-secondary pull-right"