/ views/business/websites/_form.html.haml

= bootstrap_form_for(@website) do |f|
  
  - if @business
    = f.hidden_field :business_id, value: @business.id
  - else
    = f.select :business_id, Business.all.map{|b| [b.name, b.id]},
      prompt: "#{t('forms.select')} #{han('business/website', :business_id).downcase}..."
  
  = f.select :platform, Business::Website.platforms.keys.map{|p| [p.humanize, p]},
    prompt: "#{t('forms.select')} #{han('business/website', :platform).downcase}..."
  
  = f.url_field :url, placeholder: 'https://'
  
  = f.text_field :title
  
  = f.text_field :baseline
  
  = f.select :owner_id, People::User.all.map{|p| [p.username, p.id]}, prompt: "#{t('forms.select')} #{han('business/website', :owner).downcase}..."
  
  = f.select :author_id, People::Author.all.map{|p| [p.username, p.id]}, prompt: "#{t('forms.select')} #{han('business/website', :owner).downcase}..."
  
  = f.select :theme, Business::Website::THEMES, prompt: "#{t('forms.select')} #{han('business/website', :theme).downcase}..."
  
  = f.primary