/ views/business/websites/index.html.haml

- content_for :page_title do
  = i Business::Website.decorator_class.icon
  = tmp 'business/website'
  
%p= t 'descriptions.business/websites'

.table-responsive
  %table.table.table-sm.table-hover
    %thead.thead-default
      %tr
        %th.text-nowrap.text-xs-center #
        - if @business.nil?
          %th
            = i Business.decorator_class.icon
            = tm :business
        %th= han 'business/website', :platform
        %th= han 'business/website', :host
        
        %th.text-nowrap.text-xs-center.text-lg-left
          = i Partner::Backlink.decorator_class.icon
          %span.hidden-md-down= tmp 'partner/backlink'
          
        %th.text-nowrap.text-xs-center.text-lg-left
          = i Blog::Post.decorator_class.icon
          %span.hidden-md-down= tmp 'blog/post'
          
        %th.text-nowrap.text-xs-center.text-lg-left
          = i Blog::Category.decorator_class.icon
          %span.hidden-md-down= tmp 'blog/category'
          
        %th.text-nowrap 
    %tbody
      - @websites.each do |website|
        %tr
          %th.text-nowrap.text-xs-center{scope: "row"}= website.id
          - if @business.nil?
            %td.text-nowrap= link_to website.business_name, business_path(website.business) 
          %td.text-nowrap= website.decorate.platform
          %td
            = link_to website.decorate.host, business_website_path(website)
            = link_to website.url do
              = i 'external-link'
            
          %td.text-nowrap.text-xs-center.text-lg-left
            %span.tag.tag-default= link_to website.backlinks.size, partner_backlinks_path(website_id: website.id)
            = link_to new_partner_backlink_path(website_id: website.id), class: 'tag tag-primary', role: 'button', title: th('activerecord.actions.new') do
              = i 'plus'
              %span.hidden-md-down= t 'activerecord.actions.new'
              
          %td.text-nowrap.text-xs-center.text-lg-left
            %span.tag.tag-default= link_to website.posts.size, blog_posts_path(business_website_id: website.id)
            = link_to new_blog_post_path(business_website_id: website.id), class: 'tag tag-primary', role: 'button', title: th('activerecord.actions.new') do
              = i 'plus'
              %span.hidden-md-down= t 'activerecord.actions.new'
              
          %td.text-nowrap.text-xs-center.text-lg-left
            %span.tag.tag-default= link_to website.categories.size, blog_categories_path(business_website_id: website.id)
          
          %td.text-nowrap            
            = render partial: 'shared/form_actions', locals: {object: website}