/ views/business/websites/index.html.haml

- content_for :page_title do
  = i Business::Website.decorator_class.icon
  = tmp 'business/website'
  
%p= t 'descriptions.business/websites'

.table-responsive
  %table.table.table-sm.table-hover
    %thead.thead-default
      %tr
        %th.text-nowrap.text-xs-center #
        - if @business.nil?
          %th
            = i Business.decorator_class.icon
            = tm :business
        
        %th= han 'business/website', :platform
        
        %th= han 'business/website', :host
        
        - if can? :list, Partner::Backlink
          %th.text-nowrap.text-xs-center.text-lg-left
            = i Partner::Backlink.decorator_class.icon
            %span.hidden-md-down= tmp 'partner/backlink'
        
        - if can? :list, Blog::Contents::Post 
          %th.text-nowrap.text-xs-center.text-lg-left
            = i Blog::Contents::Post.decorator_class.icon
            %span.hidden-md-down= tmp 'blog/contents/post'
          
        - if can? :list, Blog::Taxonomies::Category
          %th.text-nowrap.text-xs-center.text-lg-left
            = i Blog::Taxonomies::Category.decorator_class.icon
            %span.hidden-md-down= tmp 'blog/taxonomies/category'
        
        - if can? :list, Blog::Taxonomies::Tag
          %th.text-nowrap.text-xs-center.text-lg-left
            = i Blog::Taxonomies::Tag.decorator_class.icon
            %span.hidden-md-down= tmp 'blog/taxonomies/tag'
          
        %th.text-nowrap 
    %tbody
      - @websites.each do |website|
        %tr
          %th.text-nowrap.text-xs-center{scope: "row"}= website.id
          - if @business.nil?
            %td.text-nowrap= link_to_if can?(:read, website.business), website.business_name, business_path(website.business) 
          
          %td.text-nowrap= website.decorate.platform
          
          %td
            = link_to_if can?(:read, website), website.decorate.host, business_website_path(website)
            = link_to website.url do
              = i 'external-link'
            
          - if can? :list, Partner::Backlink
            %td.text-nowrap.text-xs-center.text-lg-left
              %span.tag.tag-default= link_to website.backlinks.size, partner_backlinks_path(website_id: website.id)
              - if can? :create, Partner::Backlink
                = link_to new_partner_backlink_path(website_id: website.id), class: 'tag tag-primary', role: 'button', title: th('activerecord.actions.new') do
                  = i 'plus'
                  %span.hidden-md-down= t 'activerecord.actions.new'
          
          - if can? :list, Blog::Contents::Post  
            %td.text-nowrap.text-xs-center.text-lg-left
              %span.tag.tag-default= link_to website.posts.size, blog_contents_posts_path(business_website_id: website.id)
              - if can? :create, Blog::Contents::Post
                = link_to new_blog_contents_post_path(business_website_id: website.id), class: 'tag tag-primary', role: 'button', title: th('activerecord.actions.new') do
                  = i 'plus'
                  %span.hidden-md-down= t 'activerecord.actions.new'
              
          - if can? :list, Blog::Taxonomies::Category
            %td.text-nowrap.text-xs-center.text-lg-left
              %span.tag.tag-default= link_to website.categories.size, blog_taxonomies_categories_path(business_website_id: website.id)
            
          - if can? :list, Blog::Taxonomies::Tag
            %td.text-nowrap.text-xs-center.text-lg-left
              %span.tag.tag-default= link_to website.tags.size, blog_taxonomies_tags_path(business_website_id: website.id)
          
          %td.text-nowrap            
            = render partial: 'shared/form_actions', locals: {object: website}